<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forces UI</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body style="text-align: center; display: flex; flex-direction: column;">
    <div class="header">
      <h2 class="title">Event information</h2>
      <div class="container" style="margin-left: 34%;">
        <table>
          <tr>
            <td><h5>Time:</h5></td>
            <td>
              <span class="time">2020-01-23 12:42:04</span>
            </td>
          </tr>
          <tr>
            <td><h5>Address:</h5></td>
            <td>
              <span class="address">ITC, Tel Aviv-Yaffo</span>
              <span class="address2">2nd floor</span>
            </td>
          </tr>
          <tr>
            <td><h5>Wind:</h5></td>
            <td>
              <span class="wind">5.1 km/h</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="map">
      <iframe
        width="300"
        height="170"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?latlon='32.0656327','34.763019899999996'&hl=en&z=14&amp;output=embed"
      >
      </iframe>
    </div>

    <div class="images">
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
