<!doctype html>

<head>
    <title>Emergency Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/forces/style.css">

</head>

<body>
    <h1>Emergency Information</h1>
    <div id="timestm"></div>
    <div class="container_center">
        <div class="map">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
        </div>
        <div id="middlepane" class="card-group">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://geo0.ggpht.com/cbk?cb_client=maps_sv.tactile&authuser=0&hl=iw&gl=il&output=thumbnail&thumb=2&w=345&h=170&pitch=0&ll=32.05279779100179%2C34.77222784886912&panoid=uzxRGILygOUFOVCALW8ENA&yaw=284.8641954156991"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://geo0.ggpht.com/cbk?cb_client=maps_sv.tactile&authuser=0&hl=iw&gl=il&output=thumbnail&thumb=2&w=345&h=170&pitch=0.370094035528183&ll=32.05292888575153%2C34.77222868773425&panoid=rQn7Z1EiOLhgWMSvw74pVA&yaw=224.94214739554758"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://geo0.ggpht.com/cbk?cb_client=maps_sv.tactile&authuser=0&hl=iw&gl=il&output=thumbnail&thumb=2&w=345&h=170&pitch=11.522074976004077&ll=32.05292888575153%2C34.77222868773425&panoid=rQn7Z1EiOLhgWMSvw74pVA&yaw=113.3268638843093"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <script src='../../static/forces/jsontable.js'></script>
</body>

</html>